<div class="container">
    <% @vocabs.each do |vocab|%>
    <div class="row flascard-item">
        <div class="col-md-6 flashcard-key">
            <p><%= vocab.key %></p>
        </div>
        <div class="col-md-6 flashcard-value">
            <p><%= vocab.value %></p>
        </div>
    </div>
    <% end %>
    <button id="previous-flashcard">Previous</button>
    <button id="flip-flashcard">Flip</button>
    <button id="next-flashcard">Next</button>
</div>