<!-- Masthead -->
<header class="masthead text-white">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <h2 class="white">從今天開始，像個Pro一樣地學外語</h2>    
      </div>
    </div>
  </div>
</header>

<div class="container">
	<div class="row">
		<h3>我想要</h3>
	</div>
	<div class="row">
		<%= link_to "找老師/找學生", search_users_path, class: "col-md-2 btn button-links" %>	
		<%= link_to "開始上課", new_lesson_path, class: "col-md-2 btn button-links"%>
		<%= link_to "複習", reviews_path, class: "col-md-2 btn button-links"%>
    <%= link_to "課程列表", lessons_path, class: "col-md-2 btn button-links"%>
	</div>
</div>