I am looking for someone who wants to
<!-- https://rails.ruby.tw/form_helpers.html -->

<form accept-charset="UTF-8" action="users/search" method="get">
  <select name="option">
    <option value="Teach">Teach</option>
    <option value="Learn">Learn</option>
  </select>
  <!-- https://stackoverflow.com/questions/8907867/can-someone-explain-collection-select-to-me-in-clear-simple-terms -->
  <%= collection_select(:language, :id, Language.all, :name, :name, options ={:include_blank => "All Language"}) %>

  <input type="submit" name="commit" value="Search" data-disable-with="Search">
</form>

