
<!DOCTYPE html>

  <head>
    <title>iLang</title>

    <!-- Bootstrap core CSS -->
    
   <!--  <link href="app/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="app/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="app/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="app/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="css/landing-page.min.css" rel="stylesheet">
 -->
  </head>

  <body>


    <!-- Masthead -->
    <header class="masthead text-white">
      <div class="overlay">
        <!-- <img src="public/2000x600.png"> -->
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <h2 class="white">iLang-線上學外文的好幫手</h2>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary" onclick="location.href = 'http:\\ilang.herokuapp.com';">Get Started</button>
            </div>      
          </div>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>專為外語學習設計的iBoard</h3>
              <p class="lead mb-0">Real time Whiteboard</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>完整的學習/教學記錄</h3>
              <p class="lead mb-0">Full learning roadmap</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>專屬字卡App</h3>
              <p class="lead mb-0">Automatic flashcard</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img showcase1"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>專為外語學習設計的iBoard</h2>
            <p class="lead mb-0">iBoard是做為即時的互動教學白板，課堂完成之後有問題的學生和想要補充的老師可以追加內容</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img showcase2"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>完整的學習/教學記錄</h2>
            <p class="lead mb-0">學生會有會有完整學習roadmap，易於複習，上課完不需要再整 教材；老師也可以很容易地查看過去的教學內容</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img showcase3"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>專屬字卡App</h2>
            <p class="lead mb-0">在iBoard上遵循特定格式可以把單字自動轉入單字卡，形成自己專屬的字卡集，不需要花兩倍時 間在輸入單字上，通勤時間也可以隨時拿出來看好方便</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
       
          <div class="col-xl-9 left">
            <h2 class="white">Ready to get started?</h2>
            <h2 class="white">Sign up now!</h2>
          </div>
          <div class="col-xl-9 mx-auto">
            <div class="col-12 col-md-3">
              <button class="btn btn-block btn-lg btn-primary" onclick="location.href = 'http:\\ilang.herokuapp.com';">Get Started</button>
            </div>         
          </div>
        
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
          
        </div>
      </div>
    </footer>
  
  </body>
  
</html>
