<br>
<br>
<div class="container">
    <% vocabs.each do |vocab|%>
    <div class="row flascard-item">
        <div class="col-md-1"></div>
        <div class="col-md-5 flashcard-key">
            <span><%= vocab.key %></span>
        </div>
        <div class="col-md-5 flashcard-value">
            <span><%= vocab.value %></span>
        </div>
        <div class="col-md-1"></div>
    </div>
    <% end %>
    <div class="row flashcard-buttons">
            <button type = "button" class="btn btn-primary" id="previous-flashcard">Previous</button>
            <button type = "button" class="btn btn-primary" id="flip-flashcard">Flip</button>
            <button type = "button" class="btn btn-primary" id="next-flashcard">Next</button>
    </div>
</div>