<h1>Lessons index</h1>
<ul>
  <% @lessons.each do |lesson| %>
  <li>
    <%= lesson.title %>
    <%= lesson.content %>
    <%= link_to 'Delete', lesson_path(lesson), method: :delete, data: {confirm:"Are you sure?"} %>
  </li>
  <% end %>
</ul>
