<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <br>
      <%= render partial:"shared/lessonsList.html.erb", locals:{ lessons: nil, lesson: @lesson} %>
    </div>
  </div>
</div>