/*
*/


@import "bootstrap-sprockets";
@import "bootstrap";
@import "style.scss";
@import "simple-line-icons";

.user-profile-item{
	display: inline-block;
	margin: 15px 15px 0px 0px;
}

.friend-list{
	display: inline-block;
	border: none;
	text-align: center;
}

.user-avatar{
	width: 100px;
	border-radius: 100px;
}

.search-result{
	margin: 5px 5px 5px 5px;
	height: 250px;
	width: 250px;
}

.flashcard-value span{
	display:none;
	line-height: 95px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
}

.flashcard-key span{
	display: inline-block;
	line-height: 95px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
}

.flashcard-value{
	height: 150px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
}

.flashcard-key{
	height: 150px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
}

.flashcard-buttons{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.flashcard-buttons button{
	margin: 0px 5px 0px 0px;
}

.button-links{
	height: 100px;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
	margin: 0px 5px 0px 0px;
	font-size: 20px;
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.flascard-item {
	margin: 20px 20px 20px 20px;
}
.edit-profile-intro {
	width: 100%;
	max-width: none;
	max-height: 350px;
	height: 350px;
	margin: 0px;
	resize: vertical;
}
.form-text{
	font-size:24px;
}
.btn{
	font-size:24px;
}
#lessons_search{
	line-height: 32px;
}
.lesson-table{
	font-size:24px;
}
#previous-flashcard{
	font-size:24px;
}
#flip-flashcard{
	font-size:24px;
}
#next-flashcard{
	font-size:24px;
}