
@import "bootstrap-sprockets";
@import "bootstrap";

.user-profile-item{
	display: inline-block;
	margin: 15px 15px 0px 0px;
}

.friend-list{
	display: inline-block;
	border: none;
	text-align: center;
}

.user-avatar{
	width: 100px;
	border-radius: 100px;
}

.search-result{
	margin: 5px 5px 5px 5px;
	height: 250px;
	width: 250px;
}
