/*
*/


@import "bootstrap-sprockets";
@import "bootstrap";
@import "style.scss";

.user-profile-item{
	display: inline-block;
	margin: 15px 15px 0px 0px;
}

.friend-list{
	display: inline-block;
	border: none;
	text-align: center;
}

.user-avatar{
	width: 100px;
	border-radius: 100px;
}

.search-result{
	margin: 5px 5px 5px 5px;
	height: 250px;
	width: 250px;
}

.flashcard-value p{
	display:none;
	text-align: center;
}

.flashcard-key p{
	text-align: center;
}

.flashcard-value{
	height: 100px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 2px;
}

.flashcard-key{
	height: 100px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 2px;
}