<!-- Masthead -->
<header class="masthead text-white">
  <div class="overlay">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <h2 class="white">A vocab a day, keep stranger away!</h2>    
      </div>
    </div>
  </div>
</header>

<div class="container">
	<div class="row">
		<h3>今天我想複習</h3>
	</div>
	<div class="row">
		<%= link_to "課程內容", lessons_path, class: "col-md-2 btn button-links" %>	
		<%= link_to "字彙", vocabs_path, class: "col-md-2 btn button-links"%>
	</div>
</div>
